* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

@view-transition {
  navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 500ms;
}

:root {
  --azul: #4169e1;
  --dark-azul: #001f3f;
  --naranja: #ffa500;
  --morado: #6a0dad;
  --blanco: #fff;
}

body {
  min-height: 97dvh;

  &.modal-open {
    overflow: hidden;
  }
}

main,
.header {
  width: 100%;
  padding: 0 1rem;
}

.scrooll {
  background-color: #fff;
  & .navbar {
    color: #000;
  }
}

header {
  view-transition-name: header;
  position: fixed;
  font-weight: bold;
  top: 0;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #fff;
  z-index: 100;

  li {
    list-style: none;

    & a {
      color: #fff;
      text-decoration: none;
      transition: 300ms ease-in-out;

      &:hover {
        cursor: pointer;
      }
    }

    & a::after {
      display: block;
      content: "";
      width: 0;
      height: 3px;
      margin: 0 auto;
      background-color: var(--rojo);
      transition: 300ms ease-in-out;
      border-radius: 5px;
    }

    & a:hover::after {
      width: 100%;
      background-color: #fff;
    }
  }
}

.header-personajes {
  view-transition-name: header;
  position: sticky;
}

.scrolled,
.scrolled-visible,
.header-personajes {
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid #000;

  a {
    color: #000;
  }

  a:hover::after {
    background-color: #000;
  }
}

.navbar {
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .links {
    display: flex;
    gap: 2rem;
  }

  .toggle__btn {
    cursor: pointer;
    display: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

@keyframes adjust-navbar {
  to {
    font-size: 1rem;
    background-color: #fff;
    color: #000;
  }
}

.drop__menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0;
  background: #fff;
  border-bottom: solid 1px #000;

  li {
    padding: 1rem;
    & a {
      color: #000;
    }
  }

  &.open {
    display: block;
  }
}

.hero__section {
  height: 100dvh;
  background-image: url("/assets/bgimage.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  & .hero__title {
    padding: 0.5rem;
    color: #fff;
    font-size: 2.5rem;
    text-wrap: balance;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.more__info {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 8 16px;
  width: 100%;

  .btn-more {
    width: 200px;
  }
}

.more-personaje {
  margin: 15px auto;
  max-width: 1200px;
}

.atributo {
  font-weight: bold;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  cursor: pointer;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: transparent;
}

.personajes__container,
.arcos__container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 16px;
}

.contenedor,
.card-arcos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8px;
  width: 100%;
  margin: 0 auto;
  margin-top: 2dvh;
}

.card-arcos {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  .img__container {
    .card__img {
      width: 100%;
      aspect-ratio: 739 / 694;
    }
  }
}

.arco-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
}

.numero {
  max-width: 300px;
}

.card,
.card-personaje {
  view-transition-name: card;
  display: flex;
  gap: 0.25rem;
  width: 100%;
  border: solid 2px;
  border-radius: 10px;
  overflow: hidden;
}

.card {
  flex-direction: column;
  justify-content: space-between;
  transition: transform 300ms ease-in-out;

  &:hover {
    transform: scale(1.02);
  }

  .card__img {
    width: 100%;
    aspect-ratio: 300 / 168;
  }

  .info__container {
    padding: 1rem;
  }

  .card__btn {
    width: 80%;
    margin: 0 auto 16px;
    transition: hover 200ms ease-in;
    background-color: var(--blanco);
    color: #000;
    transition: hover 300ms;
    border: solid 1px;

    &:hover {
      color: #8b0000;
    }
  }
}

.btn-more {
  border: solid 2px;
  background: var(--blanco);
  color: #000;
  transition: color 300ms ease-in, border 300ms ease-in;

  &:hover {
    color: var(--morado);
    border: solid 2px;
  }
}

.card-personaje {
  display: grid;
  margin: 0 auto;
  margin-bottom: 1rem;
  grid-template-columns: 35% 1fr;
  max-width: 1200px;

  .card__info {
    .card__img {
      width: 100%;
      aspect-ratio: 300 / 168;
    }

    .informacion {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      padding: 16px;

      p {
        border-bottom: solid 1px #555;
      }
    }
  }

  .card__descripcion {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 1rem;
    font-size: 1.15rem;
  }
}

.modal {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(255 255 255 / 0.5);
  overflow: hidden;

  .modal-content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 95%;
    max-width: 500px;
    max-height: 500px;
    overflow: auto;
    scrollbar-width: none;
    border-radius: 10px;
    box-shadow: 0 2px 2px 5px rgb(0 0 0 / 0.5);

    &::--webkit-scrollbar {
      display: none;
    }

    .modal-content {
      display: grid;
      grid-template-columns: 40% 1fr;
      gap: 0.5rem;

      .card__img {
        width: 100%;
        aspect-ratio: 5 / 4;
      }

      .info__container {
        padding: 0.25rem;

        p {
          border-bottom: solid 1px #555;
        }
      }

      .descripcion,
      .card-title {
        padding: 0.5rem;
      }
    }

    .btn-container {
      position: sticky;
      bottom: 0;
      left: 0;
      padding: 0.5rem;
      width: 100%;
      background: #fff;
      border-top: solid 1px #999;

      .modal-btn {
        width: 20%;
        color: #4169e1;
        transition: color 300ms ease-in-out, background-color 300ms ease-in-out;

        &:hover {
          background-color: var(--azul);
          color: var(--blanco);
        }
      }
    }
  }
}

.footer {
  position: relative;
  width: 100%;
  background-color: var(--dark-azul);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;

  li {
    list-style: none;
  }

  .social-icon,
  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px 5px;
    flex-wrap: wrap;

    .icon,
    .menu-icon {
      color: var(--blanco);
      font-size: 2rem;
      display: inline-block;
      margin: 0 10px;
    }

    .icon {
      transition: transform 500ms ease-in-out;

      img {
        height: 2rem;
        aspect-ratio: 1 / 1;
      }

      &:hover {
        transform: translateY(-10px);
      }
    }
  }

  .social-media {
    .menu-icon {
      font-size: 1.4rem;
      text-decoration: none;
      opacity: 0.5;
      transition: opacity 300ms ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }

  .text {
    color: var(--blanco);
    font-size: 1.2rem;
    text-align: center;
    margin: 0 15px 0 10px;
  }
}

@media (width < 500px) {
  .navbar {
    .links {
      display: none;
    }

    .toggle__btn {
      display: block;
    }
  }

  .btn {
    font-size: 0.9rem;
  }

  .card {
    .card__btn {
      width: 70%;
    }
  }

  .card-personaje {
    grid-template-columns: auto;
    grid-template-rows: 1fr;

    .card__descripcion {
      font-size: 1rem;
    }
  }

  .more__info {
    .btn-more__info {
      width: 150px;
    }
  }

  .modal {
    .modal-content-container {
      .modal-content {
        grid-template-columns: auto;
      }

      .btn-container {
        .modal-btn {
          border: solid 1px;
        }
      }
    }
  }
  .footer {
    .social-icon {
      .icon {
        font-size: 1.5rem;
      }
    }

    .social-media {
      .menu-icon {
        font-size: 1rem;
      }
    }

    .text {
      font-size: 1rem;
    }
  }
}
